/* home.css */

body {
    margin: 100px auto;
    /* padding: 40px; */
    font-family: 'Arial', sans-serif;
    background: url(./images/bg7.png);
    background-size: cover;
    height: 100vh;
}

.container {
    max-width: 700px;
    margin: 100px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 26px;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.alert {
    background-color: #d1e7dd;
    color: #0f5132;
    padding: 15px;
    border: 1px solid #badbcc;
    border-radius: 8px;
    margin-bottom: 20px;
    font-weight: bold;
}

.p{
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(20px);
    color: rgb(40, 231, 43);
}
